@model IEnumerable<GameWebsite.Web.Areas.Admin.ViewModels.GameManagementViewModel>

@{
    ViewData["Title"] = "Manage Games";
}

<div class="container mt-5">

    <h1 class="text-center mb-4">Game Management</h1>

    <a asp-area="Admin" asp-controller="GameManagement" asp-action="Add" class="btn btn-primary mt-auto w-100" style="margin-bottom: 20px">
        <i class="fas fa-plus"></i>
        <h2>Add Game</h2>
    </a>

    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Game</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model)
            {
                <tr>
                    <td>@game.Name</td>
                    <td>
                        <a asp-action="Edit" asp-controller="GameManagement" asp-area="Admin" asp-route-id="@game.Id" class="btn btn-warning btn-sm d-inline"><i class="fas fa-plus"></i>Edit</a>

                        <a asp-action="Delete" asp-controller="GameManagement" asp-area="Admin" asp-route-id="@game.Id" method="post" class="btn btn-danger btn-sm d-inline" style="margin-bottom: 6px" onclick="return confirm('Are you sure you want to delete this game?');">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
